.courses {
  &__wrap {
    position: absolute;
    width: 90%;
    top: 13%;
    right: 3%;
    z-index: -1;
  }
  &__start {
    width: 97.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px 0;
    margin: 0 auto;
  }
  &__title {
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
    color: #000000;
  }
  &__line {
    width: 97.5%;
    border: 2px solid #ffffff;
    border-radius: 8px;
    margin: 15px auto;
  }
  &__line-modal {
    width: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    margin: 15px 0 20px;
  }
  &__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
  }
  &__input {
    width: 80%;
    height: 45px;
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    border: 1px solid #d3d3d3;
    box-shadow: 1px 1px 10px #d3d3d3;
  }
  &__radio-box {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__radio {
    display: flex;
    align-items: center;
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 50px;
    padding: 0 15px;
  }
  &__list {
    margin-bottom: 25px;
  }
  &__item {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #d3d3d3;
    padding-bottom: 30px;
    &:hover {
      box-shadow: 1px 1px 10px #808080;
      cursor: pointer;
    }
    &:active {
      box-shadow: 1px 1px 10px #d3d3d3;
    }
  }
  &__img-wrap {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #32cd32;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
  }
  &__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
  }
  &__name {
    font-weight: bold;
    font-size: larger;
    letter-spacing: 0.5px;
  }
  &__price {
    font-weight: bold;
    color: red;
    letter-spacing: 0.5px;
  }
}

@media only screen and (max-width: 450px) {
  .courses {
    &__wrap {
      width: 81%;
      top: 10%;
      right: 0;
    }
    &__start {
      padding: 15px 35px 0 10px;
    }
    &__title {
      font-size: larger;
    }
    &__line {
      width: 87%;
      margin: 15px 10px;
    }
    &__box {
      row-gap: 15px;
    }
    &__item,
    &__img-wrap {
      width: 290px;
    }
  }
}
